.choosed-colors-list {
  display: grid;
  grid-template-rows: repeat(auto, 100px);
  grid-template-columns: 100px 100px 100px;
}

.color-picked {
  height: 100px;
  width: 100px;
}

.color-picked__value {
  margin: 0;
  height: 33%;
}

.color-picked__view {
  height: 67%;
  width: auto;
}

.result-color {
  color: red;
}
